@use '../../styles/mixins.scss' as *;

.services {
    padding: 100px 0;
    border-bottom: 3px solid #000;
    background-color: rgba($color: #8f8e8e, $alpha: .3);

    &__title {
        @include title;
    }

    .text {
       @include description;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 80px;
    }
}

