@use '../../styles/mixins.scss' as *;

.services {
    padding: 30px 0;
    background-color: rgba($color: #8f8e8e, $alpha: .3);

    &__title {
        @include title;
    }

    .text {
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 50px 20px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 80px;
    }
}

